<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cherry.yalla">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.application.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yalla">
        <activity
            android:name=".screens.cashcollected.EarningActivity"
            android:exported="false" />
        <activity
            android:name=".screens.order.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".screens.order.MyJobActivity"
            android:exported="false" />
        <activity
            android:name=".screens.order.ActivityLogActivity"
            android:exported="false" />
        <activity
            android:name=".screens.order.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.job.AcceptedJobActivity"
            android:exported="false" />
        <activity
            android:name=".screens.job.JobDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Yalla.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Yalla.NoActionBar" />
        <activity
            android:name=".screens.job.JobActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Yalla.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Yalla.NoActionBarPrimary" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>